main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    margin: 30px 30px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
}

h4 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
}

h5 {
    font-size: 0.8rem;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
}

p {
    font-size: 1.2rem;
    max-width: 1200px;
    margin-bottom: 20px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.container {
    background-color: var(--card);
    border-radius: 50px;
}

.container2 {
    background-color: var(--card2);
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.container2 p {
    max-width: 500px;
    margin: 10px;
}
