main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    margin-bottom: 40px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    padding: 30px;
    border-radius: 30px;
}

input {
    margin: 10px;
    background-color: var(--btn);
}

label {
    font-family: Montserrat, sans-serif;
    color: var(--text);
}