main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width:760px) {
    main {
        padding: 80px 0;
    }
}

h1 {
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    margin-bottom: 40px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    padding: 20px;
    border-radius: 30px;
}

.contact-form {
max-width: 600px;
margin: auto;
background: var(--card);
padding: 25px;
border-radius: 20px;
color: var(--text);
}


.contact-form h2 {
margin-bottom: 20px;
}


.form-group {
margin-bottom: 15px;
}


.form-group label {
display: block;
margin-bottom: 5px;
font-weight: bold;
font-family: Montserrat, sans-serif;
}


.form-group input,
.form-group select,
.form-group textarea {
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid var(--card2);
font-size: 14px;
background-color: var(--btn);
}


textarea {
resize: vertical;
min-height: 140px;
}


button {
background: var(--btn);
color: var(--text);
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 15px;
}


button:hover {
background: var(--btnhover);
}


.success, .error {
margin-top: 15px;
font-weight: bold;
}


.success { color: green; }
.error { color: red; }