main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
}

p {
    font-size: 1.2rem;
    max-width: 1000px;
    margin-bottom: 20px;
}

.section-projet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    margin-bottom: 40px;
    align-items: center;
}

@media (max-width:760px) {
    .section-projet {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;
    }
    main {
        padding: 80px 10px;
    }
}

img {
    border-radius: 30px;
}

.btn{
    margin-bottom: 40px;
}