main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}

p {
    font-size: 1.2rem;
    max-width: 1000px;
    margin-bottom: 20px;
}
